@import '../../scss/mixins';
@import '../../scss/variables';

.grid__proj {
  grid-template-areas:
    '. proj-header proj-header proj-header .'
    '. projects projects skillset .';
  gap: 2em;
  max-width: 100vw;

  .grid__item {
    max-width: 100vw;
  }
}

.grid__item {
  color: $primaryColor;

  &#proj-header {
    grid-area: proj-header;
    text-align: center;
    font-size: 1.5rem;
    border-bottom: solid 0.25rem rgba(0, 0, 0, 0.4);
    line-height: 0.5;
  }

  &#projects {
    width: 100%;
    grid-area: projects;
    gap: 2em;
  }

  &#skillset {
    grid-area: skillset;

    li {
      font-size: 1.25rem;
    }
  }
}

.projects__container {
  padding: 2rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.skillset__container {
  width: 30ch;

  .lang__header {
    color: $attentionColor;
    font-weight: 700;
  }

  .sub-container ul {
    padding: 0 0.25em;
  }

  h4 {
    color: $attentionColor;
  }
}

.img__container {
  @include img-standard;

  &.proj__img {
    position: relative;
    margin: 0;
  }
}

.language__icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: auto;
  gap: 0.5em;

  li i {
    font-size: 2.5rem;

    &:hover {
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7); /* Black see-through */
  width: 100%;
  transition: 0.5s ease-in-out;
  opacity: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  #proj-title {
    font-size: clamp(1rem, 2rem, 3rem);
    font-family: $headingFont;
    clear: both;
  }

  #proj-desc {
    font-size: 1rem;
  }

  @include a-tags;
}

.img__container:hover .overlay {
  opacity: 1;
}

.note {
  color: $accentColor;
  border-bottom: 1px solid $accentColor;
  width: 50ch;
  max-width: 100%;
  font-style: italic;
  text-align: end;
  margin: 0 2em;
}

// ********
// Media Queries
// ********

@media screen and (max-width: $laptopBreakpoint) {
  .grid__proj {
    max-width: 100%;
    grid-template-areas:
      '. proj-header .'
      '. projects . '
      '. skillset .';

    .skillset__container {
      text-align: center;
      width: 100%;
      margin: 0;
    }
  }
}

@media screen and (max-width: $tabletBreakpoint) {
  .grid__proj {
    padding: 0;
    gap: 1em;
  }
}

@media screen and (max-width: $mobileBreakpoint) {
  .grid__proj {
    gap: 0;

    &#skillset {
      grid-area: skillset;

      li {
        font-size: 1rem;
      }
    }
  }

  .overlay {
    p {
      font-size: 0.9rem;
    }
  }

  .note {
    margin: 0;
    padding-right: 0.5em;
  }
}
