@mixin a-tags {
  a {
    text-decoration: none;
    color: $primaryColor;
  }

  a:hover {
    color: $primaryColor;
  }
}

@mixin ul-tags {
  ul {
    list-style-type: none;
  }
}

@mixin img-standard {
  img {
    max-width: 100%;
    display: block;
  }
}
