//  Colors
$primaryColor: #e1dfd0;
$accentColor: #717980;
$headingColor: #292b30;
$textColor: #525550;
$attentionColor: #4d0011;

// Font Families

$headingFont: "Montserrat", sans-serif;
$paragraphFont: "Raleway", sans-serif;

// Breakpoints
$xsBreakpoint: 360px;
$mobileBreakpoint: 361px;
$tabletBreakpoint: 769px;
$laptopBreakpoint: 1025px;
$xlBreakPoint: 1281px;
